@media (prefers-color-scheme: dark){
	body {
		background:#000000;
		color: #FFFFFF;
	}
	a {
		color: #ffffff;
	}
	a.button {
  		padding: 1px 6px;
   	 	border-radius: 5px;
    		color: #000000;
    		background-color: #ffffff;
    		text-decoration: none;
	}
}

@media (prefers-color-scheme: light){
	body {
		background:#FFFFFF;
		color: #424242;
	}
	a {
		color: #424242;
	}
	a.button {
  		padding: 1px 6px;
   	 	border-radius: 5px;
    		color: #ffffff;
    		background-color: #000000;
    		text-decoration: none;
	}
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.2;
  font-family:"Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  font-size: 16px;
  padding: 0 8px;
  text-align:center;
}

.dropdowns {
  line-height: 90%;
}
