@media (prefers-color-scheme: dark){
	body {
		background:#00;
		color: #FF;
	}
	a {
		color: #ff;
	}
	a.button {
  		padding: 1px 6px;
   	 	border-radius: 5px;
    		color: #00;
    		background-color: #ff;
    		text-decoration: none;
	}
}

@media (prefers-color-scheme: light){
	body {
		background:#FF;
		color: #42;
	}
	a {
		color: #42;
	}
	a.button {
  		padding: 1px 6px;
   	 	border-radius: 5px;
    		color: #ff;
    		background-color: #00;
    		text-decoration: none;
	}
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.2;
  font-family:"Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  font-size: 16px;
  padding: 0 8px;
  text-align:center;
}
